<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <input type="checkbox" name="<%= task.title %>" value="<%= task.title %>">
  <label><%= link_to task.title, task_path(task) %></label>
  <%= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%><br>
<% end %>
<br>
<%= link_to "Add a new task", new_task_path %>
